.wrapper {
	width: 960px;
}

.header2 {
	width: 100%;
}

.myname {
	float: left;
	position: relative;
	text-align: center;
	padding: 33px;
	width: 200px;
	background-color: #4aaaa5;
	left: 100px;
	
}

.myname h1{
	color:#ffffff;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
	margin-left: 20px;
}


nav {
	float: left;
	position: relative;
	padding: 20px;
	left: 500px;
	display: block;
}

li {
	color: #777777;
	font-size: 18px;
	display: inline;
	margin: 5px;
}

li a {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	color: #777777;
	font-size: 16px;
}

.body {
	background-image: url("../images/asanoha.png");
	float: left;
	width: 100%;
	border-top: 2px #cccccc solid;
	padding: 50px 100px;
}

.about {
	background-color: #ffffff;
	float: left;
	padding: 20px;
	width: 60%;
	border: 1px solid #dddddd;
}

.about h1 {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom:10px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
	text-align: center;
	
}

.connect h2 {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom:10px;
}

.myphoto {
	float: left;
	width: 180px;
	height: 200px;
	display: block;
	padding: 20px;
}

p {
	padding: 20px 10px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	line-height: 200%;
	margin-left: 8px;

}

.connect {
	float: right;
	background-color: #ffffff;
	padding: 25px;
	width: 210px;
	margin-left: 30px;
	border: 1px solid #dddddd;

}

.boxes {
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

footer {
	clear: both;
}

.space {
	background-color: #4aaaa5;
	height: 5px;
	width: 1160px;
}

.copyright {
 	background-color: #666666;
 	text-align: center;
 	width: 1160px;
 }

 .copyright p {
 	color: white;
 	font-size: 10px;
 }

 ########################### Portfolio ###############################

 .portfolio {
 	float: left;
 	width: 40%;
 	background-color: #ffffff;
 	padding: 25px;
 	border: 1px solid #dddddd;
 	border-radius: 2px;
	margin-right: 20px;

 }

 .images1 {
 	float: left;
 	padding: 15px 0px;
 	
 }


 .images1 img {
 	height: 150px;
 	width: 200px;
 }

 .images1 h2 {
 	position: relative;
 	text-align: center;
 	background-color: #4aaaa5;
 	padding: 10px 20px;
 	bottom: 55px;
 	color: white;

 }

############################ Contact ##################################

.fillintheblank {
	float: left;
	padding: 25px;
	border: 1px solid #dddddd;
	width: 60%
	background-color: #ffffff;
	margin-right: 20px;
}

.block {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	margin-top: 10px;
	padding: 0px;
	color: #777777;
	line-height: 100%
}

.block2 {
	width: 500px;
}

.block2, textarea {
	padding: 5px;
	margin: 5px;
}

textarea {
	border: 1px solid #dddddd;
}

.button {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	width: 120px;
	height: 40px;
	color: white;
	background-color: #4aaaa5;
	font-size: 18px;
	border: none;


}


############################# Media Queries ###############################


@media screen and (max-width: 980px) {
	
	.myphoto {
		float: none;
		width: 50%;
		height: 170px;
	}

	.about {
		width: 50%;
	}

	.connect {
		width: 40%;
	}

	nav {
		left: 33.3%;
	}

	.portfolio {
		width: 40%;
	}

	.images1 {
		float: none;
	}

	.images1 h2 {
		padding: 5% 0;
	}

	.fillintheblank {
		width: 40%;
	}

	.block {
		width: 100%;
	}

	.block2 {
		width: 100%;
	}

	.boxes {
		width: 40%;
	}

}


@media screen and (max-width: 768px) {
	
	.myphoto {
		float: left;
		width: 25%;
	}

	.about {
		width: 80%;
	}

	.connect {
		width: 80%;
		padding-right: 10%;
	}

	nav {
		left: 20%;
	}

	.portfolio {
		width: 80%;
	}

	.images1 {
		float: left;
		width: 30%;
	}


	.fillintheblank {
		width: 80%;
	}

}


@media screen and (max-width: 640px) {
	
	.myphoto {
		float: none;
		width: 50%;
		height: 170px;
	}

	.about {
		width: 90%;
	}

	.connect {
		width: 90%;
	}

	.myname {
		width: 100%;
		position: static;
	}

	nav {
		clear: both;
		width: 100%;
		position: static;
	}

	.portfolio {
		width: 90%;
	}

	.images1 {
		width: 100%;
	}

	.images1 h2 {
		width: 100%;
	}

	.fillintheblank {
		width: 90%;
	}

	.block {
		width: 100%;
	}

	.block2 {
		width: 100%;
	}

	.boxes {
		width: 40%;
	}

}